.product
  &__name
    margin-top: 10px
    margin-bottom: 20px
    +tablet
      margin-top: 20px
      margin-bottom: 40px
  &__details
    display: flex
    flex-direction: column
    justify-content: space-between
    position: relative
    margin-bottom: 80px
    +tablet
      flex-direction: row
  &__gallery
    width: 100%
    position: relative
    +tablet
      max-width: 520px
      position: sticky
      top: 40px
      align-self: flex-start
      margin-right: 40px

  &__info
    width: 100%
    // border: 10px solid pink
    padding-top: 40px
  &__variant
    position: relative
    margin-bottom: 24px
    max-width: 304px
  &__price
    border: 1px solid $light
    padding: 24px
    border-radius: 8px
    max-width: 412px
  &__action
    position: relative
    margin-top: 24px
    .btn--line
      margin-top: 8px

  &__desc
    max-width: 412px
    margin-top: $gutter*3

.gallery
  &__list
    padding: 0
    list-style: none
    margin: 20px 0 0
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: center
    // background-color: rgba($black, 0.1)
  &__item
    position: relative
    list-style: none
    width: 56px
    cursor: pointer
    border: 2px solid $light
    border-radius: $gutter/4
    overflow: hidden
    display: inline-flex
    margin-right: 16px
    margin-bottom: 16px
    &:nth-child(5n)
      margin-right: 0
    &:hover,
    &:focus,
    &:active
      opacity: 0.7
    &--active
      border-color: $black
  &__image
    transition: 0.2s all ease-out

.label
  background-color: $light
  display: inline-flex
  align-items: center
  padding: 2px 8px
  font-size: 14px
  border-radius: $gutter/4
  font-weight: $weight-medium
.title
  font-size: 24px
  line-height: 1.33
  font-weight: $weight-black
  margin-top: 6px
  +tablet
    font-size: 32px
.variant
  position: relative
  display: flex
  flex-direction: column
  &:not(:last-child)
    margin-bottom: 5px
  // +phablet
    overflow-y: auto
  &__label
    font-size: 14px
    margin-bottom: 2px
    display: block
    font-weight: $weight-bold
  &__list
    display: flex
    flex-direction: row
    flex-wrap: wrap
    margin-top: 12px
  &__item
    margin-right: 12px
    margin-bottom: 12px
    > .link
      display: inline-flex
      align-items: center
      text-decoration: none
      color: $black
      border: 2px solid $light
      border-radius: $gutter/4
      white-space: nowrap
    &--image
      min-width: 60px
      min-height: 45px
      width: 60px
      height: 45px
    &--text
      .link
        font-size: 14px
        height: 44px
        padding: 0 16px
        font-weight: $weight-medium
    &--active
      > .link
        border-color: $primary
    &--muted
      > .link
        border-style: dashed
        opacity: .7
.price
  position: relative
  display: flex
  flex-direction: column
  &__label
    font-size: 14px
    margin-bottom: 2px
    font-weight: $weight-bold
  &__topBlock
    display: flex
    align-items: center
    margin-bottom: 8px
  &__discounted
    font-weight: $weight-black
    font-size: 28px
    line-height: 1
  &__unit,
  &__discount,
  &__stockOut
    position: relative
    font-weight: $weight-medium
    font-size: 14px
    display: flex
    align-items: center
    padding: 2px 8px
    border-radius: $gutter/4
    background-color: $light
  &__unit
    margin-right: 10px
    padding: 2px 0
    background-color: $white
    color: lighten($black, 50%)
    &::after
      position: absolute
      top: 50%
      left: 0
      width: 100%
      height: 1px
      background-color: lighten($black, 50%)
      content: ""
      transform: translateY(-50%)
  &__discount

.desc
  position: relative
  display: flex
  flex-direction: column
  &__heading
    font-size: 24px
    font-weight: $weight-bold
    margin-bottom: $gutter
