.item
  position: relative
  width: 50%
  padding: $gutter/2
  // overflow: hidden
  // box-shadow: 0 0 0 1px $primary
  // background-color: $white
  +desktop
    width: 25%
    padding: $gutter


.product
  position: relative
  min-height: 100px
  height: 100%
  display: flex
  flex-direction: column
  padding-bottom: $gutter
  text-decoration: none
  overflow: hidden
  background-color: $white
  color: $text
  // border: 1px solid $light
  &__info
    // border: 1px solid $light
    display: flex
    flex-direction: column
  &__infoItem
    display: flex
    margin-bottom: $gutter/2
  &__title
    position: relative
    color: $black
    font-weight: $weight-medium
    font-size: 14px
    line-height: 1.33
    margin-top: 12px
    padding-right: $gutter*2

  &__unit,
  &__discount,
  &__stockOut,
  &__moreOptions
    position: relative
    font-weight: $weight-medium
    font-size: 14px
    display: flex
    align-items: center
    padding: 2px 8px
    border-radius: $gutter/4
    background-color: $light
    width: auto
  &__unit
    margin-top: -4px
    margin-bottom: -4px
    padding: 2px 0
    background-color: $white
    color: lighten($black, 50%)
    &::after
      position: absolute
      top: 50%
      left: 0
      width: 100%
      height: 1px
      background-color: lighten($black, 50%)
      content: ""
      transform: translateY(-50%)
  &__discounted
    font-weight: $weight-black
    font-size: 18px
  &__discount
