// 1. Initial variables

// Colors

$black: #000 !default
$darker: #222 !default
$dark: #333 !default
$gray: #555 !default
$light: #999 !default
$lighter: #eee !default
$white: #fff !default

$purple: #783392 !default
$yellow: #fcbf14 !default
$red: #ee395f !default
$green: #41b468 !default
$cyan: #74cdda !default


// Scaffolding

$body-background: $white !default
// $body-background: $yellow !default
$text: $dark !default


// Typography
$family-sans-serif: "Rubik", "Noto Sans Bengali", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default
$family-serif: Georgia, Cambria, "Times New Roman", Times, serif
$family-base: $family-sans-serif !default

$size-base: 16px !default

$weight-normal: 400 !default
$weight-medium: 500 !default
$weight-bold: 700 !default

$line-height: 1.428571428571429

// Breakpoints
// 474 | 700 | 960 || 1200 container
// 504 | 730 | 990 || 1230 container with padding 15px both side left right
// 524 | 750 | 1010 || 1250 screen

$phablet: 522.5px !default
$tablet: 750px !default
$desktop: 1010px !default
$widescreen: 1250px !default

// Header sizes var

$header-clickable-height: 44px
$header-searchbox-height: 34px

$header-desktop-padding-top: 10px
$header-desktop-padding-bottom: 10px

$header-mobile-padding-top: 2px
$header-mobile-padding-bottom: 0
$header-mobile-height-bottom-after-searchbox: 10px

$header-mobile-searchbox-margin-top: $header-clickable-height + $header-mobile-padding-bottom

$header-desktop-height: $header-clickable-height + ($header-desktop-padding-top + $header-desktop-padding-bottom)
$header-mobile-height: $header-clickable-height + $header-searchbox-height + ($header-mobile-padding-top + $header-mobile-padding-bottom) + $header-mobile-height-bottom-after-searchbox

$aside-mobile-margin-top: $header-clickable-height + ($header-mobile-padding-top + $header-mobile-padding-bottom)
$aside-desktop-margin-top: $header-clickable-height + ($header-desktop-padding-top + $header-desktop-padding-bottom)

$header-height-without-searchbox: $header-clickable-height + ($header-desktop-padding-top + $header-desktop-padding-bottom)

// cordova app 
$header-cordova-mobile-padding-top-extra: 38px
$header-cordova-mobile-padding-top: $header-mobile-padding-top + $header-cordova-mobile-padding-top-extra
$header-cordova-mobile-padding-bottom: $header-desktop-padding-bottom

$header-cordova-mobile-height: $header-mobile-height + $header-cordova-mobile-padding-top-extra

$aside-cordova-mobile-margin-top: $aside-mobile-margin-top + $header-cordova-mobile-padding-top-extra

$header-cordova-height-without-searchbox:  $header-clickable-height + ($header-cordova-mobile-padding-top + $header-cordova-mobile-padding-bottom)



// $header-base-padding-top: 10px
// $header-base-padding-bottom: 10px
// $header-mobile-padding-bottom: 10px

// $header-cordova-padding-top-extra: 30px
// $header-cordova-padding-top: $header-base-padding-top + $header-cordova-padding-top-extra


// $header-searchbox-height: 34px

// $header-base-height: 44px + $header-base-padding-top + $header-base-padding-bottom
// $header-mobile-height: 44px + $header-searchbox-height + $header-mobile-padding-bottom
// $header-cordova-mobile-height: $header-mobile-height + $header-cordova-padding-top-extra

// $aside-margin-top: $header-base-height
// $aside-cordova-margin-top: $aside-margin-top + $header-cordova-padding-top-extra

// Miscellaneous

$easing: ease-out !default
$speed: 86ms !default


// Link colors

$link: $darker !default
// $link-hover: lighten($primary, 3%) !default


// Button 

$btn-default: darken($lighter, 10%)
$btn-default-color: $dark

$btn-dark: $dark
$btn-dark-color: $white

$btn-yellow: $yellow
$btn-yellow-color: $purple

$btn-purple: $purple
$btn-purple-color: $yellow

$btn-green: $green
$btn-green-color: $white

$btn-red: $red
$btn-red-color: $white


// Ribbon 

$ribbon-bg-color: $green
$ribbon-text-color: $white

// Emi 
$emi-bg-color: $cyan
$emi-text-color: $white
//coupon 
$coupon-bg-color: $purple 
$coupon-text-color: $white