// 1. Initial variables

// Colors

$primary: #ec0127 !default
$black: #000 !default
$white: #fff !default
$light: #e6e8f0 !default
$red: #ff0000 !default
$green: #00ff00 !default
$blue: #0000ff !default
$yellow: #ffff00 !default

// Scaffolding

$body-background: $white !default
$text: $black !default

// Typography
$family-sans-serif: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default
$family-serif: Georgia, Cambria, "Times New Roman", Times, serif
$family-base: $family-sans-serif !default

$size-base: 16px !default

$weight-normal: 400 !default
$weight-medium: 500 !default
$weight-bold: 700 !default
$weight-black: 900 !default

$line-height: 1.428571428571429

// Breakpoints

$tablet: 700px !default
$desktop: 1040px !default
$widescreen: 1232px !default

$gutter: 16px

// Miscellaneous
$easing: ease-out !default
$speed: 86ms !default
