.btn
  +button
  &__label
    margin-left: 8px

  &--primary
    background-color: $primary
    color: $white
  &--line
    background-color: $white
    color: $text
    border: 2px solid $light
  &--linePrimary
    background-color: $white
    color: $text
    border: 2px solid $primary
  &--light
    background-color: $light
    color: $text

  &--muted
    cursor: not-allowed
    background-color: $light
    color: rgba($black, 0.55)

  &--auto
    width: auto
    padding-left: $gutter*1.5
    padding-right: $gutter*1.5
  &--rounded
    border-radius: 500em
