.Carousel
  position: relative
  margin-top: 20px
  background-color: $white
  &__scroll
    position: relative
    padding-left: 10px
    padding-right: 10px
    overflow-x: auto
    margin-bottom: -16px
    text-align: center
  &__sliders
    display: inline-flex
    padding-bottom: 16px
  &__cell
    position: relative
    &--Square
      &:not(:first-child)
        margin-left: 10px
    &--Circle
      &:not(:first-child)
        margin-left: 20px
  &__link
    display: block
    text-decoration: none
    position: relative
  &__imageWrapper
    position: relative
    background-color: rgba($red, 0.3)
    overflow: hidden
    &--Circle
      border-radius: 50px
      width: 64px
      height: 64px
      border: 3px solid #E2DFE3
      img
        width: 100%
        overflow: hidden
    &--Square
      width: 100px
      height: 100px
      border-radius: 10px
      img
        width: 100%
  &__title
    color: $text
    text-align: center
    margin-top: 8px
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    &--Square
      font-size: 12px
      line-height: 1.11
      width: 100px
    &--Circle
      font-size: 13px
      line-height: 1.11
      font-weight: 300
      width: 64px
  &__button
    display: none
    padding: 0
    position: absolute
    top: 0
    height: 100%
    width: 30px
    background-color: rgba($black, .3)
    border-radius: 0
    opacity: 0
    visibility: hidden
    transition: none !important
    // +phablet
      width: 40px
      display: block
    &--prev
      left: 0
      // +phablet
        transform: translateX(-100%)
        // margin-left: -6px
      +widescreen
        transform: none
        // margin-left: 0
      .Button__svgIcon
        margin-left: 2px
        // +phablet
          margin-left: 5px
    &--next
      right: 0
      // +phablet
        transform: translateX(100%)
        // margin-right: -6px
      +widescreen
        transform: none
        // margin-right: 0
      .Button__svgIcon
        margin-right: 2px
        // +phablet
          margin-right: 5px
    &--isActive
      opacity: 1
      visibility: visible
