// .contain
//   display: flex
//   flex-direction: column

.title
  font-size: 14px
  font-weight: 400
  color: #999
  height: 56px
  display: flex
  align-items: center
  // background-color: rgba(red, 0.1)

.list
  position: relative
  margin-bottom: 20px
  // border: 1px solid red
  // &--notCheckout
  //   max-height: calc(100vh - 275px)
  //   overflow-y: auto
  //   // +phablet
  //     max-height: calc(100vh - 285px)
  //   +tablet
  //     max-height: calc(100vh - 295px)
  //   +desktop
  //     overflow-y: scroll

  // &--checkout
  //   +desktop
  //     overflow-y: auto
  //   +widescreen
  //     overflow-y: auto
  //     max-height: calc(100vh - 300px)

.actions
  position: relative
  // padding-left: 15px
  // padding-right: 15px

.OrderAction
  display: flex
  justify-content: flex-end
